input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.calculator {
  background-color: #e6e7e7;
  width: 500px;
  height: 600px;
  padding: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator_wrapper {
  height: 500px;
  width: 420px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 3px 5px 5px gray;
}

.isNaN {
  color: red;
  position: absolute;
  top: 53%;
}

.Circle {
  width: 450px;
  height: 450px;
  padding: 50px;
}

.btnSubmit {
  position: absolute;
  bottom: 26%;
  left: 31%;
  cursor: pointer;
  padding: 10px 60px;
  background-color: #fcda04;
  border: 1px solid #fcda04;
  border-radius: 5px;
  font-weight: bold;
}
.input_wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}
input {
  height: 40px;
  padding-left: 10px;
  margin-top: 40px;
}

h2 {
  margin-top: 20px;
  transform: translateY(30px);
}

@media only screen and (max-width: 768px) {
  .calculator_wrapper {
    width: 320px;
  }
  .Circle {
    width: 350px;
    height: 350px;
  }
  h2 {
    transform: translateY(0);
  }
  .isNaN {
    font-size: 0.7em;
    top: 53%;
  }
  input {
    width: 120px;
    height: 30px;
    margin: 20px 10px 0px 10px;
  }
  .btnSubmit {
    padding: 5px 20px;
    left: 36%;
    bottom: 32%;
    font-weight: bold !important;
  }
}
